* {
    box-sizing: border-box;
}
html {
    height : 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Geneva, Verdana, sans-serif;
}

 /* ~~~~~~~ Header ~~~~~~~~ */
header {
    background-color: white; 
    color: #242A2D; /* Dark Charcoal color */
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
header h1 {
    margin: 0;
    font-size: 32px;
    padding: 0;
}
header nav {
    display: block;
    gap: 0px;
    justify-self: center;

}
header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 0;
}
 /* Test3 is a simple button. The button class will be an animated button */
#test3 ul li {
    background: #89D2A2;
    border-radius: 20px;
    border: none;
    padding: 7px 7px;
}
#test3 ul li a {
    color: black;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
    font-weight: bold;
    font-size: 18px;
}

/* Animated Button */
.button {
    cursor: pointer;
    display: inline-flex; /* allow overflow to clip and padding to behave */
    border: 1px solid transparent;
    border-radius: 0.8em;
    background: #89D2A2;
    position: relative;
    line-height: 1;
    text-decoration: none;
    color: white;
    font-weight: 900;
    overflow: hidden;
    padding: 4px;
    height: 60px;
}
.button span {
  position: relative;
  z-index: 10; /* Keep text above the pseudo elements */
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}
.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.button::before {
  content: "";
  background: #475457;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.button:hover::before {
  opacity: 0;
}

.button:hover span {
  color: Black;
}

.button:active {
  transform: scale(0.95);
}

/* ~~~~~~~~ Main ~~~~~~~ */
main {
    flex: 1;
    padding: 0 10px;
    background-color: #f2eef1;
}
main h2 {
    color: black;
    font-size: 28px;
    margin: 20px;
    padding: 0;
}
.about-me-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
#about-me {
    max-width: 1000px;
    padding: 10px;

}
#EaglePhoto {
    float: right;
    box-shadow: rgba(0,0,0,0.08);
    border-radius: 100px;
    border: 1px solid #f2e2f1;
}
main p {
    font-size: 18px;
    line-height: 1.6;
    color: black;
    margin: 20px;
}

.rect p > a:hover {
    color: #0739cf;
}

/* ~~~~~~~ Sections ~~~~~~ */
section {
    scroll-margin-top: 20px;
} 


/* ~~~~~~~ Rectangles Styles ~~~~~~ */
.rect-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.chatbot-rect {
    background: #779287; /*gray-green color*/
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    margin: 32px 0;
    max-width: 450px;
}
/* Changes text for the chatbot Rect */
.chatbot-rect a, .chatbot-rect h3, .chatbot-rect p {
    font-family: Geneva, Verdana, sans-serif;
    color: black;
}
/* Hover effect for all rectangles */
.rect:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.12);
    transform: translate3D(0,-2px, 0);
    transition: all 0.3s ease;
}

.website-rect {
    background-color: #475457;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    margin: 32px 0;
    max-width: 450px;
}
/* Changes text for the website Rect */
.website-rect h3, .website-rect p, .website-rect a {
    font-family: Geneva, Verdana, sans-serif;
    color: white;
}
.UPS-rect{
    background-color: #B7E4C7;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    margin: 32px 0;
    max-width: 450px;
}
.PC-rect {
    background-color: #242A2D;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    margin: 30px 0;
    max-width: 450px;
}
.PC-rect h3, .PC-rect p, .PC-rect a {
    font-family: Geneva, Verdana, sans-serif;
    color: white;
}

/* ~~~~~~~ Navigation Menu ~~~~~~ */

.nav-toggle {
    position: fixed;
    bottom: calc(3% + 75px);
    right: 2%;
    z-index: 1000;
    cursor: pointer;
    font-size: 16px;
    transform-origin: center;
    transition: transform 0.3s ease;
}
.sticky-nav {
    position: fixed;
    background: linear-gradient(90deg,
       rgba(18, 18, 18, 0.33) 0%,
       rgba(158, 158, 158, 0.35) 35%,
       rgba(115, 115, 115, 0.32) 100%);
    border-radius: 10px;
    border: silver 1px solid;
    width: 500px;
    bottom: calc(3% + 35px);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    right: -500px;
    transition: right 0.3s ease;
    align-items: center;
}

.sticky-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0;
}


#nav-check:checked + .nav-toggle + .sticky-nav {
    right: 100px;
}
#nav-check:checked + .nav-toggle {
    transform: rotate(90deg);
}


/* ~~~~~~~ Footer Styles ~~~~~~ */

footer {
  background-color: white; 
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
max-height: 100px;
}
footer a {
text-decoration: none;
font-weight: bold;
font-size: 14px;
color: black;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.footer-left{
    display: flex;
}
.footer-right {
    display: flex;
    gap: 25px;
}
/* Resizes logos in footer */
.logos {
    perspective: 1000px;
    width: 30px;
    height: 30px;
} 
.logos:hover {
    animation: spin 3s linear infinite;

}
@keyframes spin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}